.accordion-body {
  background: #fde2e4 !important;
}

.accordion-button {
  font-size: 24px !important;
  background: #eae4e9 !important;
  border: 0px !important;

}

.accordion-button:not(.collapsed) {
  background: #fcd9db !important;
  color: black !important;
  border: 0px !important;
  
}

.bck1 {
    background: #e2ece9
}

.bck2 {
    background: #fde2e4
}

.bck3 {
    background: #FFF1E6
}

.bck4 {
    background: #F0EFEB
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #F0EFEB;
  color: white;
}

.center-text {
    text-align: center;
}

.center-vert {
  padding: 140px 0;
}

.footer {
    background: #dfe7fd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }

.img-padding {
  padding: 8px 0 !important;
}

.navbar-color {
  background-color: #bee1e6 !important;
}

.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


a {
  text-decoration: none !important;
}

body {
  background: #bee1e6 !important;
}