.heading-big {
    font-size: 32px!important;
    line-height: 40px!important;
}


.bck1 {
    background: #e2ece9
}



.bck2 {
    background: #fde2e4
}


.bck3 {
    background: #FFF1E6
}



.bck4 {
    background: #F0EFEB
}

.footer {
    background: #dfe7fd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }


